header   {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  height: 90px;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .nav a {
  color: black;
  padding-right: 30px;
}

header .logo {
  padding-left: 30px;
}

header img  {
  margin-right: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 15px;
}

.container p {
  font-family: Georgia;
font-size: 17px;
color: black;
}

.column-main {
   width: 630px;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: wrap;

}

.column-medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column-small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.article {
  width: 300px;
  height: auto;
  display: flex;
  display: block;
  justify-content: space-between;
}

.main-article {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  display: block;
}

.title-image-main {
  background-image: url("../Resources/Images/img-story-main.png");
  display: flex;
  height: 300px;
  width: 630px;
  justify-content: center;
  display: block;
}

.title-image-main h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: block;
}

.title-image-1 {
  background-image: url("../Resources/Images/img-story-2.png");
  display: flex;
  height: 300px;
  width: 300px;
  margin: 10px 10px 10px 0;
  display: block;
}

.title-image-1 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
}

.title-image-2 {
  background-image: url("../Resources/Images/img-story-3.png");
  display: flex;
  height: 300px;
  width: 300px;
  margin: 10px 0 10px 10px;
  display: block;
}

.title-image-2 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
}

.title-image-3 {
  background-image: url("../Resources/Images/img-story-1.png");
  display: flex;
  height: 300px;
  width: 300px;
  margin: 10px 0 10px 0;
  display: block;
}

.title-image-3 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: block;
  text-align: center;
}

.news-bites {
  display: flex;
  flex-direction: column;
  display: block;
}

.news-bites h3 {
  text-align: center;
  weight: bold;
}

.news-bites .bites  {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

.footer {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
  font-size: 12px;


}

.footer .info {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.footer .nav a {
  font-family: Verdana;
  font-size: 12px;
  color: black;
  font-weight: normal;
}

.footer .copyright {
  margin-top: 10px;
  font-family: Verdana;
  font-size: 12px;
}
