header   {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  height: 90px;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .nav a {
  color: black;
  padding-right: 30px;
}

header .logo {
  padding-left: 30px;
}

header img  {
  margin-right: 15px;
}

.container {
  display: flex;
}

.column-main {
   width: 630px;
   display: flex;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
}

.article {
  border: solid 2px black;
}

.image-article {
  border: solid 2px black;
}
